@model ContactViewModel

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <label class="form-label" asp-for="Name">Your Name:</label>
            <div class="input-group mb-2">
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <label class="form-label" asp-for="Email">Email:</label>
            <div class="input-group mb-2">
                <input asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <label class="form-label" asp-for="Subject">Subject:</label>
            <div class="input-group mb-2">
                <input type="text" asp-for="Subject" class="form-control" />
                <span class="text-danger" asp-validation-for="Subject"></span>
            </div>

            <label class="form-label" asp-for="Message">Message:</label>
            <div class="input-group mb-2">
                <textarea rows="4" asp-for="Message" class="form-control"></textarea>
                <span class="text-danger" asp-validation-for="Message"></span>
            </div>

            <div class="input-group">
                <input type="submit" value="Send Message" class="btn btn-primary" />
                <span class="text-success">@ViewBag.UserMessage</span>
            </div>
        </form>
    </div>
</div>