@model ContactViewModel


<form method="post">
    <label asp-for="Name">Your Name:</label>
    <br />
    <input asp-for="Name"/>
    <br />
    <label>Email:</label>
    <br />
    <input asp-for="Email"/>
    <br />
    <label asp-for="Email">Subject:</label>
    <br />
    <input type="text" asp-for="Subject"/>
    <br />
    <label asp-for="Subject">Message:</label>
    <br />
    <textarea rows="4" asp-for="Message"></textarea>
    <br />
    <input type="submit" value="Send Message" />
</form>
